.confirm {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.img {
	transform: rotate(90deg);
	height: 60%;
	width: 60%;
}

.wrapper {
	position: relative;
}

.input {
	z-index: 2;
}

.input:focus-visible {
    outline: none;
}

.leave-area {
	position: absolute;
	width: 125%;
	height: 200%;
	top: -50%;
	left: 0;
	z-index: 0;
	background-color: rgba(0,0,0, 0.25);
}